{% extends 'backtemplate.html.twig' %}
{% block body %}


    <body>
    <div >
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">evenement de: {{ fours.nom }}  </h5>
                    {#  <form method="post" action="{{ path('rechlike') }}">
                    <label>Rechercher</label>
                    <input type="text" name="search"><input type="submit" value="Recherche">
                </form>#}
                    <h4> nombre des reservation:{{ stos|length }}</h4>
                    <table class="table" id="tableac">
                        <thead>
                        <tr>

                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>age</th>
                            <th>Nom Evenement</th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr {% for i in stos %}>
                            <td>
                                {{ i.nom }}
                            </td>
                            <td>
                                {{ i.prenom }}
                            </td>
                            <td>
                                {{ i.age }}
                            </td>
                            <td>
                                {{ i.idr.nom }}

                            </td>

                        </tr{% endfor %}>
                        </tbody>
                        <script>

                            $(document).ready(function() {
                                $('#example').DataTable( {
                                    "order": [[ 3, "desc" ]]
                                } );
                            } );
                        </script>

                    </table>



                </div></div></div></div>


    </body>
    </html>
{% endblock %}