
{% extends 'fan.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>




                            {% for produit  in tab %}
                                <div class="col-lg-6 col-md-6">
                                    <div class="li-blog-single-item pb-25">
                                        <div class="li-blog-banner">
                                            <a href="{{path('app_commande_new',{id : produit.idp})}}"><img class="img-full" src="{{asset('uploads/') ~ produit.affiche}}"  height="350"  ></a>
                                        </div>
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-25"><a href="{{path('app_commande_new',{id : produit.idp })}}">{{produit.nom}}</a></h3>
                                                <div class="li-blog-meta">

                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> Commentaires</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i>  {{produit.prix}}</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i>  {{produit.prix}}</a>

                                                </div>

                                                <a class="read-more" href="{{path('app_commande_new',{id : produit.idp })}}">Read More...</a>
                                            </div>
                                            <button class="ritekhela-banner-btn" id="click{{produit.idp}}" onclick="">infos</button>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    {% if qrCode is defined %}

                                    $('#click{{produit.idp}}').on('click',function (){
                                        {% if (app.request.uri != ("http://127.0.0.1:8000/tournoi/qr/"~produit.idp)) %}
                                        window.location.replace("{{ path('qr', {'id': produit.idp})}}");
                                        {% endif %}
                                        Swal.fire({
                                            title: 'VES!',
                                            text: 'scan this qr to view infos',
                                            imageUrl: '{{ qrCode }}',
                                            imageWidth: 300,
                                            imageHeight: 300,
                                            imageAlt: 'Custom image',
                                        })

                                    })
                                    {% endif %}
                                </script>
                                 {% endfor %}
  {% endblock %}