{% extends 'respo.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <h1>Magasin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idm</th>
                <td>{{ magasin.idm }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ magasin.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ magasin.adresse }}</td>
            </tr>
            <tr>
                <th>Nombrebloc</th>
                <td>{{ magasin.nombrebloc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_magasin_index') }}">back to list</a>

    <a href="{{ path('app_magasin_edit', {'idm': magasin.idm}) }}">edit</a>

    {{ include('magasin/_delete_form.html.twig') }}
{% endblock %}
