{% extends 'respo.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
    <h1>Actualite</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Titre</th>
                <td>{{ actualite.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ actualite.description }}</td>
            </tr>
            <tr>
                <th>Dateajout</th>
                <td>{{ actualite.dateajout ? actualite.dateajout|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{asset('responsable/uploads/images/') ~ actualite.image}}"  width="250" height="250"></td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-outline-primary" type="submit" onclick="window.location.href = '{{ path('app_actualite_index') }}';" role="button"> Back to list </button>
    <button class="btn btn-outline-primary" type="submit" onclick="window.location.href = '{{ path('app_actualite_edit', {'id': actualite.id}) }}';" role="button"> Edit </button>


    {{ include('actualite/_delete_form.html.twig') }}
{% endblock %}
