{% extends 'backtemplate.html.twig' %}

{% block title %}Edit Personne{% endblock %}

{% block body %}
    <h1 align="middle" style="color:#17337d">Modifier Utilisateur</h1>

    {{ form_start(form) }}

    <section id="multiple-column-form">
        <div align="center">
            <div class="col-xl-9 col-md-6 col-sm-12">
                <div class="card" align="center">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label class="label" ><h5 style="color:#a56dbf">Nom</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.nom) }}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Prénom</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.prenom) }}

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Date Naissance</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.datenaissance, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.datenaissance) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Adresse</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.adresse) }}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Email</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.mail) }}

                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Téléphone</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.tel) }}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Role</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.role) }}


                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Mot de passe</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.mdp, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.mdp) }}

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Nom Equipe</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.nomequipe, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.nomequipe) }}


                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Etat Compte</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.etat, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.etat) }}


                                            </div>

                                        </div>

                                    </div>


                                    <div class="col-md-6 col-12">
                                        <label class="form-label"><h5 style="color:#a56dbf">Image</h5></label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group has-icon-left">
                                            <div class="position-relative">
                                                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_errors(form.image) }}

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button class="btn btn-primary btn-icon-text">{{ button_label|default('Enregistrer') }}<img src="{{ asset('back/assets/images/samples/updated.png') }}"></button>
    {{ form_end(form)}}
    <div class="col-12 d-flex justify-content-end">


        {{ include('personne/_delete_form.html.twig') }}
    </div>
    <a href="{{ path('app_personne_index') }} "style="color: cornflowerblue"> <h4>Retour Liste Affichage</h4></a>


{% endblock %}
