{% extends 'backtemplate.html.twig' %}

{% block title %}Liste des Sponsors{% endblock %}
{% block body %}
    <div class="card-title">
        <h1 align="center" style="color:#0d376f"> Liste des Sponsors</h1>
    </div>
    <section class="section">
        <div class="col-md-12">
            <div>
                <style>
                    #customers {
                        font-family: Arial, Helvetica, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }

                    #customers td, #customers th {
                        border: 1px solid #7b197d;
                        padding: 8px;
                    }

                    #customers tr:nth-child(even){background-color: #dddddd;}

                    #customers tr:hover {background-color: #00a5bb;}

                    #customers th {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: left;
                        background-color: #7b197d;
                        color: white;
                    }
                </style>

                <div>
                    <table   id="customers" class="table table-striped table-bordered" style="size: 50px">
                        <thead>
                        <tr class="dataTable-wrapper">


                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Datenaissance</th>
                            <th>Adresse</th>
                            <th>Tel</th>
                            <th>Mail</th>
                            <th>action</th>

                        </tr>

                        </thead>
                        <tbody>
                        {% for sponsor in sponsors %}
                            <tr class="status">

                            <td>{{ sponsor.nom }}</td>
                            <td>{{ sponsor.prenom }}</td>
                            <td>{{ sponsor.datenaissance ? sponsor.datenaissance|date('Y-m-d') : '' }}</td>
                            <td>{{ sponsor.adresse }}</td>
                            <td>{{ sponsor.tel }}</td>
                            <td>{{ sponsor.mail }}</td>
                            <td> <a href="{{ path('showEvent',{'id':sponsor.id}) }}" class="btn btn-primary" href="#" role="button" >Sponsors</a> </td>
                                </td>
                                </td>

                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="13">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>



{% endblock %}
